<div class="flex h-screen bg-gray-50 font-sans relative overflow-hidden">
  <main class="flex-1 flex flex-col overflow-hidden">
    <header class="bg-white h-20 border-b flex items-center justify-between px-8">
      <h2 class="text-xl font-bold text-gray-800">
        Panel Administrativo
      </h2>
      <span class="text-sm font-bold text-gray-600">Admin</span>
    </header>

    <div class="flex justify-center mt-10">
      <div class="w-full max-w-lg bg-white p-8 rounded-2xl shadow-sm">
        <h2 class="text-2xl font-bold mb-6 text-black text-center tracking-tight">Restablecer Contraseña</h2>
          
        <form class="contrast">
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 mb-1">Nueva Contraseña</label>
            <input
              type="password"
              class="w-full px-4 py-2 border border-gray-200 rounded-xl focus:ring-2 focus:ring-indigo-500 outline-none bg-white text-gray-900 font-semibold"
              [(ngModel)]="password"
              name="password" 
              placeholder="Ingrese la nueva contraseña"
            />
          </div>

          <div class="mb-6">
            <label class="block text-sm font-medium text-gray-700 mb-1">Confirmar Contraseña</label>
            <input
              type="password"
              class="w-full px-4 py-2 border border-gray-200 rounded-xl focus:ring-2 focus:ring-indigo-500 outline-none bg-white text-gray-900 font-semibold"
              [(ngModel)]="confirmPassword"
              name="confirmPassword" 
              placeholder="Confirme la contraseña"
            />
          </div>

          <div class="flex gap-4">
            <button 
              type="button" 
              (click)="resetPassword()" 
              class="bg-[#F27438] hover:bg-orange-600 text-white font-bold py-2 px-6 rounded-lg transition-colors">
                Guardar Nueva Contraseña
            </button>
        
            <button 
              type="button" 
              class="bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold py-2 px-6 rounded-lg transition-colors" 
              (click)="goBack()">
                Atrás
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
