<p-table [value]="data" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Cliente</th>

            <th>Mensaje</th>
            <th>Estado</th>

            <th>Creada</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-n>
        <tr>
            <td>{{ n.idUsuario }}</td>

            <td>{{ n.mensaje }}</td>
            <td><p-tag [value]="n.estadoNotificacion"></p-tag></td>


            <td>{{ n.createNotificacion }}</td>
            <td>
                <button pButton label="Leer" icon="pi pi-check" (click)="markRead.emit(n.idNotificacion)"
                    [disabled]="n.estadoNotificacion==='leida'"></button>
                <button pButton label="Editar" icon="pi pi-pencil" class="p-button-text"
                    (click)="edit.emit(n)"></button>
                <button pButton label="Eliminar" icon="pi pi-trash" class="p-button-danger p-button-text"
                    (click)="remove.emit(n.idNotificacion)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>